modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Start Next.js App"

[[workflows.workflow]]
name = "Start Next.js App"
author = 44404088
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cryptix && npm run dev"
